.demo-section-wrapper {
  display: flex;
}
.demo-editor-wrapper {
  width: 60%;
}
.demo-section {
  margin: 50px 30px;
}
.ReactCodeMirror {
  width: 38%;
  margin-left: 2%;
}
.CodeMirror {
  height: 400px;
}